* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #B4843A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.container {
    display: flex;
    background-color: #fff;
    width: 90%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.logo-container {
    background-color: #fff;
    width: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.logo-container h1 {
    color: #a66d2b;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
}

.login-container {
    background-color: #fff;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container h2 {
    color: #000;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

  
.input-group.toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
  }


.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #a66d2b;
    border-radius: 4px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.options label {
    display: flex;
    align-items: center;
}

.options a {
    color: #a66d2b;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #a66d2b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #8c581f;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-login span {
    font-size: 0.9rem;
    color: #000;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.signup {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #000;

}

.signup a {
    color: #a66d2b;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
    }
    
    .signup a:hover {
        text-decoration: underline;
    }
    a {
        text-decoration: none; 
      }
      
      a:hover {
        text-decoration: underline;
      }
      
    
