<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - COSTECH Field Application System</title>
    <lin
</head>

<body>
    <div class="container">
        <div class="logo-container">
            <img src="../../../images/costechlogo.png" alt="COSTECH Logo">
            <h1>COSTECH FIELD APPLICATION SYSTEM</h1>
        </div>
        <div class="login-container">
            <h2>Login</h2>
            <form>

                <div class="input-group">
                    <input type="email" placeholder="Enter your email" required>  
                </div>

                <div class="input-group">
                    <input id="password" type="password" placeholder="Enter your Password" required>
                    <i id="togglePassword" class="toggle-eye fas fa-eye"></i>
                </div>

                <div class="options">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#">Forgot password?</a>
                </div>

                <button type="submit" class="login-btn">Login</button>
            </form>
            <div class="social-login">
                <span>Sign in with</span>
                <div class="social-icons">
                    <img src="../../../images/google.svg" alt="Google">
                    <img src="../../../images/linkedin.svg" alt="LinkedIn">
                    <img src="../../../images/microsoft.svg" alt="Microsoft">
                </div>
            </div>
            <p class="signup">Don’t have an Account? <a href="#">Sign up</a></p>
        </div>
    </div>
</body>
</html>
